/* GENERAL ---------------------------------- */
img {
  height: 100px;
  width: 100px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

/* STUDENT LIST STYLING */
#list {
  display: grid;
  grid-column: 1 / 2;
  grid-template-columns: repeat(11, 1fr);
}

.student_template {
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-column: 1 / 12;
}

tbody {
  display: grid;
  grid-column: 1 / 12;
}

.image {
  grid-row: 1;
  grid-column: 1 / 2;
}

.gender {
  grid-row: 1;
  grid-column: 2 / 3;
}

.iqsquad {
  grid-row: 1;
  grid-column: 3 / 4;
}

.prefect {
  grid-row: 1;
  grid-column: 4 / 5;
}

.bloodtype {
  grid-row: 1;
  grid-column: 5 / 6;
}

.firstname {
  grid-row: 1;
  grid-column: 6 / 7;
}
.nickname {
  grid-row: 1;
  grid-column: 7 / 8;
}

.middlename {
  grid-row: 1;
  grid-column: 8 / 9;
}

.lastname {
  grid-row: 1;
  grid-column: 9 / 10;
}

.house {
  grid-row: 1;
  grid-column: 10 / 11;
}

.expel {
  grid-row: 1;
  grid-column: 11 / 12;
}

/* TOP MENU WITH FILTERS AND COUNTERS */

.filters_counters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  grid-column: 1;
  align-items: center;
}

.student_icons_container {
  grid-row: 1;
  grid-column: 5 / 6;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.number_container {
  display: flex;
  align-items: center;
}
.number_container > img {
  height: 60px;
  width: 60px;
}

#allStudentsCounter,
#expelledStudentsCounter,
#displayedStudentsCounter {
  font-size: 2rem;
}

/* FILTER STYLING --------------------------*/

.filter_buttons_container {
  display: flex;
  grid-column: 1 / 5;
  justify-content: space-evenly;
}

/* SORTING STYLING ------------------------ */

header {
  background-color: #333;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}

nav {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: left 0.3s ease-in-out;
}

nav.active {
  left: 0;
}

.filter_buttons_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.filter {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.filter:hover {
  background-color: #444;
}

.burger-icon {
  display: block;
  height: 2px;
  width: 25px;
  background-color: white;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}

#burger-btn:hover .burger-icon:nth-child(1) {
  transform: translateY(-5px);
}

#sorting {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(11, 1fr);
}

#sorting > button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#sorting button.sortby[data-sort-direction="desc"]::after {
  content: " ⬆️ ";
}

#sorting button.sortby[data-sort-direction="asc"]::after {
  content: " ⬇️ ";
}
#sorting button.sortby[data-sort-direction="desc"]::before {
  content: " ⬆️ ";
  opacity: 0;
}

#sorting button.sortby[data-sort-direction="asc"]::before {
  content: " ⬇️ ";
  opacity: 0;
}

#sorting button.sortby {
  background-color: aquamarine;
}

/* Tables styling */
#list {
  border-collapse: collapse;
  width: 100%;
}

#list th,
#list td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

#expelledlist {
  border-collapse: collapse;
  width: 100%;
}

/* List of expelled students */
#expelledstudents {
  display: none;
}

#expelledlist th,
#expelledlist td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

#expelledlist th {
  background-color: lightgray;
}

#expelledlist tr:nth-child(even) {
  background-color: rgb(173, 230, 210);
}

p[data-field="expelled"]::after {
  content: " ❌ ";
}

td[data-field="prefect"]::after {
  content: " 🥇 ";
}

td[data-field="prefect"][data-prefect="false"]::after {
  filter: grayscale(1);
}

/* Removes the medal icon from the expelled student */
#expelledstudents td[data-field="prefect"][data-prefect="false"]::after {
  filter: grayscale(1);
  content: " ";
}

/* popup dialog boxes ------------------------------- */

.hide {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

button.close_button {
  position: absolute;
  right: 0;
  top: 0;
}

.dialog {
  padding: 1rem;
  background-color: antiquewhite;
}

/* POPUP DETAILS ABOUT STUDENT --------------------------- */
#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;
  width: 100vw;
  background-color: rgba(31, 31, 31, 0.8);
  overflow: scroll;
  padding: 0;
  margin: 0;
}

.close {
  grid-column: 1;
  grid-row: 1;
  align-self: start;
  font-size: 1.7rem;
  font-weight: bolder;
  color: black;
  cursor: pointer;
}

.popup_details {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 10 auto;
  padding: 0;
  margin: 0;
}

#popup article {
  gap: 10px;
  transition: 1sec;
  width: 1000px;
  height: 700px;

  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin: 30rem auto;

  background-color: #ffff;
}

section > article > p {
  grid-column: 1 / 3;
  grid-row: 4;
  color: black;
}

section > article > .student_image {
  height: 150px;
  width: 150px;
  grid-column: 1;
  grid-row: 3;
}

section > article > .student_house {
  position: absolute;
  top: 314px;
  left: 536.4px;
  height: 300px;
  width: 300px;
  grid-column: 3;
  grid-row: 1;
  align-self: start;
}
.student_name {
  grid-row: 4;
  grid-column: 2;
}
.student_nickname {
  grid-row: 5;
  grid-column: 2;
}
.student_middlename {
  grid-row: 6;
  grid-column: 2;
}
.student_lastname {
  grid-row: 7;
  grid-column: 2;
}

.firstname_text {
  grid-row: 4;
  grid-column: 1;
}
.nickname_text {
  grid-row: 5;
  grid-column: 1;
}
.middlename_text {
  grid-row: 6;
  grid-column: 1;
}
.lastname_text {
  grid-row: 7;
  grid-column: 1;
}

.iqsquad_popup {
  grid-column: 3;
}

.house_crest_popup_container {
  position: relative;
  grid-row: 1;
  grid-column: 1 / 6;
}

.popup_details > .house_crest_popup_container > .student_house_popup {
  position: absolute;
  height: 300px;
  width: 300px;
  top: -180px;
}

p[data-field="prefect"]::after {
  content: " 🥇 ";
}

p[data-field="prefect"][data-prefect="false"] {
  filter: grayscale(1);
}

.prefect_popup {
  grid-column: 4;
  grid-row: 5;
}
.student_gender {
  grid-column: 3;
  grid-row: 4;
}

.iqsquad_popup {
  grid-column: 4;
  grid-row: 4;
}

.expelled {
  grid-column: 3/5;
  grid-row: 6;
}

.student_blood {
  grid-row: 5;
  grid-column: 3;
}

@media screen and (width < 600px) {
  /* SORTING MENU FOR MOBILE */

  .sorting-icon {
    display: block;
    height: 2px;
    width: 25px;
    background-color: white;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out;
  }

  #sorting {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease-in-out;
  }

  #sorting > button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }

  #sorting.active {
    left: 0;
  }

  /* STYLING FOR TABLE ON MOBILE */
  #list {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: repeat(5, 1fr);
  }

  .student_template {
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 1 / 6;
  }

  tbody {
    display: grid;
    grid-column: 1 / 6;
  }

  .image {
    grid-row: 1;
    grid-column: 2 / 5;
  }

  .gender {
    grid-row: 4;
    grid-column: 1 / 2;
  }

  .iqsquad {
    grid-row: 4;
    grid-column: 2 / 3;
  }

  .prefect {
    grid-row: 4;
    grid-column: 3 / 4;
  }

  .bloodtype {
    grid-row: 4;
    grid-column: 4 / 5;
  }
  #studentBlood {
    height: 50px;
    width: 50px;
  }
  .firstname {
    padding-top: 30px;
    grid-row: 3;
    grid-column: 2 / 4;
  }

  .nickname {
    grid-column: 5;
    visibility: hidden;
  }

  .middlename {
    grid-row: 3;
    grid-column: 5;
    visibility: hidden;
  }

  .lastname {
    padding-top: 30px;
    grid-row: 3;
    grid-column: 3 / 5;
  }

  .expel {
    grid-row: 4;
    grid-column: 5 / 6;
  }

  .house_crest_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 2;
    grid-column: 1 / 6;
  }

  #studentImage {
    height: 150px;
    width: 150px;
  }

  #studentHouse {
    position: absolute;
    top: -72px;
    left: -49.1px;
  }

  .student_icons_container {
    grid-row: 2;
    grid-column: 1 / 6;
  }
  .number_container > img {
    height: 50px;
    width: 50px;
  }

  /* POPUP MOBILE */
  #popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(31, 31, 31, 0.8);
    overflow: scroll;
    padding: 0;
    margin: 0;
  }

  #popup article {
    gap: 10px;
    transition: 1sec;
    width: 100vw;
    height: 700px;

    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin: 10rem auto;

    background-color: #ffff;
  }

  .popup_details > .house_crest_popup_container > .student_house_popup {
    position: absolute;
    height: 200px;
    width: 200px;
    top: -135px;
    left: -80px;
  }
  .iqsquad_popup {
    grid-column: 3;
    grid-row: 3;
  }
  .student_blood {
    grid-row: 3;
    grid-column: 1;
    width: 50px;
    height: 50px;
  }

  .popup_details > .student_image {
    grid-row: 2;
    grid-column: 2 / 5;
  }

  .prefect_popup {
    padding: 0;
    grid-column: 2;
    grid-row: 3;
  }

  .student_gender {
    grid-column: 4 / 5;
    grid-row: 3;
  }
}

@media screen and (width > 374px) {
  .house_crest_popup_container > .student_house_popup {
    left: -76px;
  }
}
