/* GENERAL ---------------------------------- */

html {
  --gryffindor-red: #a81f2839;
  --ravenclaw-blue: rgba(133, 195, 222, 0.3);
  --slytherin-green: rgba(40, 116, 60, 0.3);
  --huffelpuff-yellow: rgb(247, 237, 124, 0.3);
  --white_color: #f2f2f2;
  --black_color: #454242ea;
  --p_font: clamp(1.5rem, -2rem + 8vw, 1.5rem);
  --button_font: clamp(1rem, -2rem + 8vw, 1rem);
}
body {
  max-width: 1200px;
  margin: 0 auto;
}

.systemIsNormal {
  background-color: #9e9e9e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%239E9E9E' cx='50' cy='0' r='50'/%3E%3Cg fill='%23a3a3a3' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a7a7a7' cx='50' cy='100' r='50'/%3E%3Cg fill='%23acacac' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b1b1b1' cx='50' cy='200' r='50'/%3E%3Cg fill='%23b5b5b5' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23bababa' cx='50' cy='300' r='50'/%3E%3Cg fill='%23bfbfbf' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c4c4c4' cx='50' cy='400' r='50'/%3E%3Cg fill='%23c9c9c9' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cdcdcd' cx='50' cy='500' r='50'/%3E%3Cg fill='%23d2d2d2' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d7d7d7' cx='50' cy='600' r='50'/%3E%3Cg fill='%23dcdcdc' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e1e1e1' cx='50' cy='700' r='50'/%3E%3Cg fill='%23e6e6e6' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ebebeb' cx='50' cy='800' r='50'/%3E%3Cg fill='%23f0f0f0' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f5f5f5' cx='50' cy='900' r='50'/%3E%3Cg fill='%23fafafa' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23FFFFFF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

.systemIsHacked {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23FFFFFF' cx='50' cy='0' r='50'/%3E%3Cg fill='%23fffcfb' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fff8f8' cx='50' cy='100' r='50'/%3E%3Cg fill='%23fff5f4' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fff1f1' cx='50' cy='200' r='50'/%3E%3Cg fill='%23ffeeed' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffeaea' cx='50' cy='300' r='50'/%3E%3Cg fill='%23ffe7e6' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffe3e3' cx='50' cy='400' r='50'/%3E%3Cg fill='%23ffe0df' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffdddc' cx='50' cy='500' r='50'/%3E%3Cg fill='%23ffd9d9' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffd6d5' cx='50' cy='600' r='50'/%3E%3Cg fill='%23ffd2d2' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffcfce' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ffcbcb' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffc8c7' cx='50' cy='800' r='50'/%3E%3Cg fill='%23ffc4c4' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffc1c1' cx='50' cy='900' r='50'/%3E%3Cg fill='%23ffbdbd' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23FFBABA' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

.gryffindor {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-color: var(--gryffindor-red);
}

.hufflepuff {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-color: var(--huffelpuff-yellow);
}

.slytherin {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-color: var(--slytherin-green);
}

.ravenclaw {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-color: var(--ravenclaw-blue);
}

button {
  border-radius: 5px;
  font-family: "new-spirit", serif;
  font-size: var(--button_font);
}

.gryffindor_btn {
  width: 120px;
  z-index: 1;

  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--gryffindor-red);
}
.gryffindor_btn:hover {
  z-index: 1;
  box-shadow: inset 200px 0 0 0 var(--gryffindor-red);
}
.slytherin_btn {
  width: 120px;
  z-index: 1;

  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--slytherin-green);
}
.slytherin_btn:hover {
  z-index: 1;
  box-shadow: inset 200px 0 0 0 var(--slytherin-green);
}

.hufflepuff_btn {
  width: 120px;
  z-index: 1;

  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--hufflepuff-yellow);
}
.hufflepuff_btn:hover {
  z-index: 1;
  box-shadow: inset 200px 0 0 0 var(--huffelpuff-yellow);
}
.ravenclaw_btn {
  width: 120px;
  z-index: 1;

  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--ravenclaw-blue);
}
.ravenclaw_btn:hover {
  z-index: 1;
  box-shadow: inset 200px 0 0 0 var(--ravenclaw-blue);
}

.blood_btn {
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--gryffindor-red);
}
.blood_btn:hover {
  transition: ease-out 0.3s;
  box-shadow: inset 0 -50px 0 0 var(--gryffindor-red);
}
.halfblood_btn {
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--gryffindor-red);
}
.halfblood_btn:hover {
  transition: ease-out 0.3s;
  box-shadow: inset 0 -25px 0 0 var(--gryffindor-red);
}
.iqsquad_btn,
.prefect_btn {
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--huffelpuff-yellow);
}
.iqsquad_btn:hover,
.prefect_btn:hover {
  transition: ease-out 0.3s;
  box-shadow: inset 200px 0 0 0 var(--huffelpuff-yellow);
}

.muggle_btn,
.allhouse_btn {
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--white_color);
}
.muggle_btn:hover,
.allhouse_btn:hover {
  color: black;
  transition: ease-out 0.3s;
  box-shadow: inset 200px 0 0 0 var(--white_color);
}

.filter_active,
.sorting-active {
  color: var(--white_color);
  background-color: var(--black_color);
}
/* FONT */
p {
  font-family: "new-spirit", serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--p_font);
}

h1 {
  text-align: center;
  font-family: "new-spirit", serif;
}

img {
  height: 100px;
  width: 100px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

/* SEARCH INPUT */
#search-input {
  font-size: var(--p_font);
  font-family: "new-spirit", serif;
  margin-right: 2rem;
  height: 60px;
  width: 300px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--black_color);
}

.search-container > button {
  color: var(--black_color);
  border: none;
  padding: 10px 20px;
  font-size: var(--p_font);
  cursor: pointer;
  width: 200px;
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--black_color);
}
.search-container > button:hover {
  color: var(--white_color);
  z-index: 1;
  box-shadow: inset 200px 0 0 0 var(--black_color);
}
/* STUDENT LIST STYLING */
#list {
  display: grid;
  grid-column: 1 / 2;
  grid-template-columns: repeat(11, 1fr);
}

.student_template {
  border-radius: 10px;
  margin-block: 1rem;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-column: 1 / 12;
  transition: 0.3s;
  box-shadow: inset 0 0 0 0;
  cursor: pointer;
}

.student_template:hover {
  transition: 0.3s;
  scale: 1.02;
  box-shadow: inset 120px 0 0 0 var(--white_color);
}

tbody {
  display: grid;
  grid-column: 1 / 12;
}

.image {
  grid-row: 1;
  grid-column: 1 / 2;
}

.gender {
  grid-row: 1;
  grid-column: 2 / 3;
}

.iqsquad {
  grid-row: 1;
  grid-column: 3 / 4;
}

.prefect {
  grid-row: 1;
  grid-column: 4 / 5;
}

.bloodtype {
  grid-row: 1;
  grid-column: 5 / 6;
}

.firstname {
  grid-row: 1;
  grid-column: 6 / 7;
}
.nickname {
  grid-row: 1;
  grid-column: 7 / 8;
}

.middlename {
  grid-row: 1;
  grid-column: 8 / 9;
}

.lastname {
  grid-row: 1;
  grid-column: 9 / 10;
}

.house {
  grid-row: 1;
  grid-column: 10 / 12;
}

.expel {
  grid-row: 1;
  grid-column: 11 / 12;
}

/* TOP MENU WITH FILTERS AND COUNTERS */

.filters_counters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  grid-column: 1;
  align-items: center;
}

.counter_container {
  display: flex;
  flex-direction: row;
}

.student_icons_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.number_container {
  display: flex;
  align-items: center;
}
.number_container > img {
  height: 60px;
  width: 60px;
}

#allStudentsCounter,
#expelledStudentsCounter,
#displayedStudentsCounter {
  font-size: 2rem;
}

/* FILTER STYLING --------------------------*/

.filter_buttons_container {
  display: flex;
  grid-column: 1 / 5;
  justify-content: space-evenly;
}

/* SORTING STYLING ------------------------ */

header {
  display: flex;
  justify-content: center;
}

header > img {
  width: 300px;
  height: 300px;
}

nav,
#sorting {
  position: fixed;
  top: 345px;
  left: -400px;
  width: 400px;
  height: 50%;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-color: var(--black_color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: left 0.3s ease-in-out;
  z-index: 1;
  border-radius: 0 10px 10px 0;
}

nav.active,
#sorting.active {
  left: 0px;
  width: 400px;
}

.filter_buttons_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 10px;
  margin-top: 20px;
  flex-direction: column;
}

.filter,
.sorting {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: var(--p_font);
  cursor: pointer;
  width: 200px;
}

.sorting {
  cursor: pointer;
  width: 325px;
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--black_color);
}
.sorting:hover {
  cursor: pointer;
  width: 325px;
  transition: ease-out 0.3s;
  box-shadow: inset 325px 0 0 0 var(--black_color);
}

.filter:hover {
  background-color: #444;
}

.close_side_menu_container {
  position: relative;
}

.side_menu_header {
  color: var(--white_color);
  text-decoration: underline;
  font-size: 2rem;
}

#close_filtering {
  cursor: pointer;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: var(--white_color);
  position: absolute;
  top: -100px;
  left: 150px;
}
#close_sorting {
  cursor: pointer;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: var(--white_color);
  position: absolute;
  top: -130px;
  left: 150px;
}

#burger-btn,
#sorting-btn {
  border: none;
  padding: 10px 20px;
  font-size: var(--p_font);
  cursor: pointer;
  width: 200px;
  transition: ease-out 0.3s;
}

#burger-btn:hover,
#sortin-btn:hover {
  transition: ease-out 0.3s;
}

.sorting-icon {
  display: block;
  height: 2px;
  width: 25px;
  background-color: white;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}

#sorting > button {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#sorting.active {
  left: 0;
}

#sorting > button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border: none;
  border-radius: 5px;
}

#sorting button.sortby[data-sort-direction="desc"]::after {
  content: " ⬆️ ";
}

#sorting button.sortby[data-sort-direction="asc"]::after {
  content: " ⬇️ ";
}
#sorting button.sortby[data-sort-direction="desc"]::before {
  content: " ⬆️ ";
  opacity: 0;
}

#sorting button.sortby[data-sort-direction="asc"]::before {
  content: " ⬇️ ";
  opacity: 0;
}

#sorting button.sortby {
  background-color: rgb(52, 88, 76);
}

/* Tables styling */
#list {
  border-collapse: collapse;
  width: 100%;
}

#list th,
#list td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

#expelledlist {
  border-collapse: collapse;
  width: 100%;
}

/* List of expelled students */
#expelledstudents {
  display: none;
}

#expelledlist th,
#expelledlist td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.header_house {
  grid-column: 10 / 12;
}

td[data-field="prefect"]::after {
  content: " 🥇 ";
}

td[data-field="prefect"][data-prefect="false"]::after {
  filter: grayscale(1);
}

/* Removes the medal icon from the expelled student */
#expelledstudents td[data-field="prefect"][data-prefect="false"]::after {
  filter: grayscale(1);
  content: " ";
}

/* popup dialog boxes ------------------------------- */

.hide {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
}

button.close_button {
  position: absolute;
  right: 0;
  top: 0;
}

.dialog {
  justify-content: center;
  padding: 1rem;
  background: var(--gryffindor-red);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}

.dialog > .sidebyside > button {
  padding-block: 10px;
  padding-inline: 39px;
  font-size: var(--p_font);
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--black_color);
  border: none;
  color: var(--white_color);
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--gryffindor-red);
  cursor: pointer;
}

#yes {
  color: var(--black_color);
  background-color: var(--white_color);
}

.dialog > .sidebyside > #no {
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--gryffindor-red);
}

.dialog > .sidebyside > #no:hover {
  transition: ease-out 0.3s;
  box-shadow: inset 300px 0 0 0 var(--gryffindor-red);
}
.dialog > .sidebyside > #yes {
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--slytherin-green);
}

.dialog > .sidebyside > #yes:hover {
  transition: ease-out 0.3s;
  box-shadow: inset 300px 0 0 0 var(--slytherin-green);
}

.dialog > div > .closebutton {
  width: 300px;
  padding-block: 10px;
  padding-inline: 39px;
  font-size: var(--p_font);
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--black_color);
  border: none;
  color: var(--white_color);
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--slytherin-green);
  cursor: pointer;
}
.dialog > div > .closebutton:hover {
  transition: ease-out 0.3s;
  box-shadow: inset 300px 0 0 0 var(--slytherin-green);
}
.dialog > #removeother {
  width: 300px;
  padding-block: 10px;
  padding-inline: 39px;
  font-size: var(--p_font);
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--black_color);
  border: none;
  color: var(--white_color);
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--slytherin-green);
  cursor: pointer;
}
.dialog > #removeother:hover {
  transition: ease-out 0.3s;
  box-shadow: inset 300px 0 0 0 var(--slytherin-green);
}

/* POPUP DETAILS ABOUT STUDENT --------------------------- */
#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: scroll;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

.close {
  grid-column: 1;
  grid-row: 1;
  align-self: start;
  font-size: 1.7rem;
  font-weight: bolder;
  color: black;
  cursor: pointer;
}

.popup_details {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 10 auto;
  padding: 0;
  margin: 0;
}

#popup article {
  gap: 10px;
  transition: 1sec;
  width: 1000px;
  height: 700px;

  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin: 30rem auto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

section > article > p {
  grid-column: 1 / 3;
  grid-row: 4;
  color: black;
}

section > article > .student_image {
  height: 150px;
  width: 150px;
  grid-column: 1;
  grid-row: 3;
}

section > article > .student_house {
  position: absolute;
  top: 314px;
  left: 536.4px;
  height: 300px;
  width: 300px;
  grid-column: 3;
  grid-row: 1;
  align-self: start;
}
.student_name {
  grid-row: 4;
  grid-column: 2;
}
.student_nickname {
  grid-row: 5;
  grid-column: 2;
}
.student_middlename {
  grid-row: 6;
  grid-column: 2;
}
.student_lastname {
  grid-row: 7;
  grid-column: 2;
}

.firstname_text {
  grid-row: 4;
  grid-column: 1;
}
.nickname_text {
  grid-row: 5;
  grid-column: 1;
}
.middlename_text {
  grid-row: 6;
  grid-column: 1;
}
.lastname_text {
  grid-row: 7;
  grid-column: 1;
}

.iqsquad_popup {
  grid-column: 3;
}

.house_crest_popup_container {
  position: relative;
  grid-row: 1;
  grid-column: 1 / 6;
}

.popup_details > .house_crest_popup_container > .student_house_popup {
  position: absolute;
  height: 300px;
  width: 300px;
  top: -180px;
  left: -141px;
}

p[data-field="prefect"]::after {
  content: " 🥇 ";
}

p[data-field="prefect"][data-prefect="false"] {
  filter: grayscale(1);
}

.prefect_popup {
  grid-column: 4;
  grid-row: 5;
}
.student_gender {
  grid-column: 3;
  grid-row: 4;
}

.iqsquad_popup {
  grid-column: 4;
  grid-row: 4;
}

.expelled {
  grid-column: 5/6;
  grid-row: 7;
}

.popup_details > button {
  padding-block: 10px;
  padding-inline: 10px;
  font-size: var(--p_font);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--black_color);
  border: none;
  color: var(--white_color);
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--gryffindor-red);
  cursor: pointer;
}
.popup_details > button:hover {
  transition: ease-out 0.3s;
  box-shadow: inset 180px 0 0 0 var(--gryffindor-red);
}

.student_blood {
  grid-row: 5;
  grid-column: 3;
}

/* TOGGLE SWITCH */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (width < 600px) {
  /* STYLING FOR TABLE ON MOBILE */
  #list {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: repeat(5, 1fr);
  }

  .student_template {
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 1 / 6;
  }

  tbody {
    display: grid;
    grid-column: 1 / 6;
  }

  .image {
    grid-row: 1;
    grid-column: 2 / 5;
  }

  .gender {
    grid-row: 4;
    grid-column: 1 / 2;
  }

  .iqsquad {
    grid-row: 4;
    grid-column: 2 / 3;
  }

  .prefect {
    grid-row: 4;
    grid-column: 3 / 4;
  }

  .bloodtype {
    grid-row: 4;
    grid-column: 4 / 5;
  }
  #studentBlood {
    height: 50px;
    width: 50px;
  }
  .firstname {
    padding-top: 30px;
    grid-row: 3;
    grid-column: 2 / 3;
  }

  .nickname {
    grid-column: 5;
    visibility: hidden;
  }

  .middlename {
    grid-row: 3;
    grid-column: 5;
    visibility: hidden;
  }

  .lastname {
    padding-top: 30px;
    grid-row: 3;
    grid-column: 3 / 5;
  }

  .expel {
    grid-row: 7;
    grid-column: 4 / 5;
  }

  .house_crest_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 2;
    grid-column: 1 / 6;
  }

  #studentImage {
    height: 150px;
    width: 150px;
  }

  #studentHouse {
    position: absolute;
    top: -72px;
    left: -49.1px;
  }

  .number_container > img {
    height: 50px;
    width: 50px;
  }

  /* POPUP MOBILE */
  #popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(31, 31, 31, 0.8);
    overflow: scroll;
    padding: 0;
    margin: 0;
  }

  #popup article {
    gap: 10px;
    transition: 1sec;
    width: 100vw;
    height: 700px;

    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin: 10rem auto;

    background-color: #ffff;
  }

  .popup_details > .house_crest_popup_container > .student_house_popup {
    position: absolute;
    height: 200px;
    width: 200px;
    top: -135px;
    left: -96px;
  }
  .iqsquad_popup {
    grid-column: 3;
    grid-row: 3;
  }
  .student_blood {
    grid-row: 3;
    grid-column: 1;
    width: 50px;
    height: 50px;
  }

  .popup_details > .student_image {
    grid-row: 2;
    grid-column: 1/6;
  }

  .prefect_popup {
    padding: 0;
    grid-column: 2;
    grid-row: 3;
  }

  .student_gender {
    grid-column: 4 / 5;
    grid-row: 3;
  }

  /* SORTING AND FILTER BUTTONS */

  #burger-btn,
  #sorting-btn {
    padding: 5px;
    width: 100px;
    height: 100px;
  }

  .student_icons_container {
    flex-wrap: wrap;
  }

  /* SIDE MENUS MOBILE  */

  nav.active,
  #sorting.active {
    left: 0px;
    width: 330px;
  }

  nav,
  #sorting {
    height: 93%;
    top: 45px;
  }

  #close_filtering {
    top: -15px;
    left: 126px;
  }

  #close_sorting {
    top: -41px;
    left: 125px;
  }

  /* SEARCH, FILTER AND SORTING */
  .student_icons_container {
    justify-content: space-around;
  }
  .filter_sorting_container {
    margin-block: 2rem;
  }

  .search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #search-input {
    margin-block: 2rem;
  }

  #search-button {
    margin-top: 2rem;
  }

  /* TOGGLE SWITCH */

  .toggle_switch {
    display: flex;
    justify-content: center;
  }

  #toggle_text {
    text-align: center;
  }
}

@media screen and (width > 374px) {
  .house_crest_popup_container > .student_house_popup {
    left: -76px;
  }
}
